body{
    text-align: center-justify; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background:#C8CFDB;
    color:#042A7F; 
    margin: 0 0 30px 0;
    
}

h1{ 
    text-align: center;
    font-size: 100px;
    font-weight:700;
    margin: 5% 15%;
    color:#042A7F;
  
}

h1
    { font-family Ubuntu, Cantarell, 'Open Sans', sans-serif; }

h2{
    color:#042A7F;
     font-size:30px;
    font-style:italic;
    margin: 5% 15% 2% 15%;

}

h3{
    font-size:22px;
    font-style:italic;
    margin: 5% 15% 3% 15%;
}

h4{
    font-size: 18px;
    font-style:italic;
     margin: 5% 15% 0% 15%;
     text-align: center;
}

p{
    font-size:20px; 
    line-height:1,5;
    margin: 0 15%;
}



.titulo-amarelo{
    color:#2a0074;
     font-style:italic;
}



section section{
    width:100%;
}

img{
    width:100%;
}



.dicas li {
    
}

.dicas a{
    text-decoration:none;
    color: #2a0074;
    font-weight: 700;
    line-height:1,5;
    text-align: left;

}

.dicas li{
     list-style: circle;
    margin: 2% 15%;

}

 .final{
    margin: 10% 10%;
    text-align: center;
    color:#0C142B;
    font-weight: 800;
 
 }

 .contato {

        height: 40px;
        max-width:60%;
        margin: 5% 15% 2% 15%;

}

.contato a{
    color:#324163;
    text-decoration: underline;
    font-weight: 400%;
}

.contato li{
    display: inline-block; 
    line-height:1,5;
    margin: 0 89px;

}
